<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <button></button>
    </header>
    <section id="1">
        <p></p>
        <img src="" alt="" id="img">
    </section>
    <section id="2">
        <button id="izq-arr"></button>
        <button id="der-arr"></button>
        <button id="izq-abj"></button>
        <button id="der-abj"></button>
    </section>
</body>
</html>