<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="css/game.css">
    <title>Document</title>
</head>
<body>
    <header>
        <button></button>
    </header>
    <section id="1">
        <img src="../img/ia.jpg" alt="" id="img">
        <p>djdgkdjglkjsdgkjdgkjdsgkdjgkdjfsgkjdsgkjdsfgkdskjgdfkghdskjgdgdkjffg</p>  
    </section>
    <section id="2">
        <div>
            <button id="izq"></button>
            <button id="der"></button>
        </div>
       <div>
            <button id="izq"></button>
            <button id="der"></button>
       </div>
        
    </section>
</body>
</html>